body
{
    margin : 0;
    text-align: center;
  
}

.name
{
   margin : 0px;
   position : absolute;
   top : 20%;
   left : 45%;
   font-family: Sacramento, sans-serif;
}

p
{
    text-align: center;
    margin : 0px;
    position : absolute;
    top : 30%;
    left : 46%;
    font-family: Josefin Sans, sans-serif;

}

.pro
{
    text-decoration: underline;
}

.top
{
    background-color: #E4F9F5;
    margin : 0px;
    height : 700px;
    position: relative;
}

.middle
{
    background-color: #E4F9F5;
    height: 400px;
    position: relative;
    padding-bottom: 380px;
}

.bottom
{
    background-color: #E4F9F5;
    text-align: center;
    height: 1400px;
    /* width: 200px; */
    position: relative;
}


.c1
{
  
    position: absolute;
    left :60%;
    top : 10%;
   
}

.c2
{
  
    position: absolute;
    top : 45%;
    left :30%;
}
.c3
{
    position : absolute;
    right : 10%;
    bottom : 20%;


}

.c4
{
    position: absolute;
    left : 10%;

}

.c5
{
    position: absolute;
    left : 5%;
    bottom : 10%;
}

.mountain
{
    position: absolute;
    bottom : 0px;
    left : 30%;
    width : 40%;
    height: 65%;
   
  
}

.my_image
{
    position : absolute ;
    height: 400px;
    width: 400px;
    top : 10%;
    left : 37%;
    display: inline-block;  /* this here helped me in resizing the image */

}

.para_1
{
    position : relative;
    top: 160%;
    left : 0%;

}

.h{
   
    position: relative;
    top: 125%;
    left : 0%;
}

.line
{
    margin: 0px; 
    color: black;
    background-color: black;
    border-style: dashed;
}

h1{
    margin : 0px;
    position: absolute;
    top : 5%;
    left : 47%;
}

.computer
{
    position : absolute;
    top : 12%;
    left : 40%
}

h3{
    position: absolute;
    top : 43%;
    left : 47%;
    font-family: Indie Flower , sans-serif;
}
.p
{
    position: relative;
    left: 0%;
    top : 49%;
}

.volley
{
    position : absolute;
    height: 400px;
    width : 400px;
    top : 55%;
    left : 40%;
    display : inline-block;
}

.v{
    position : absolute;
    top : 85%;
    left : 51%;

}

.p_1{
    position: relative;
    width: 100%;
    left: 0%;
    top : 90%;

}


.last
{
    background-color: #E4F9F5;
    height: 300px;
    position: relative;
    margin : 0;
}


.btn
{
    position: absolute;
    color : black;
}

.l_h
{
    position: relative;
    margin : 0;
    top : 10%;
    left : 0%;
}

.l_p
{
    position: relative;
    top : 10%;
    left : 0%;
}
.btn{
    position: relative;
    top : 15%;
    left : 0%;
}

.footer1
{
    position:absolute;;
    color: black;
    bottom : 30%;
    left : 44%;

}

.footer2
{
    position: absolute;
    color: black;
    bottom : 30%;
    left : 48%;
  
}
.footer3
{
    position: absolute;
    color: black;
    bottom : 30%;
    left : 794px;
}

h4{
    position: absolute;
    top : 80%;
    left : 46%;
}