body
{
    margin : 0;
    text-align: center;
  
}

.name
{
   margin : 0px;
   position : absolute;
   top : 20%;
   left : 45%;
   font-family: Sacramento, sans-serif;
}

p
{
    text-align: center;
    margin : 0px;
    position : absolute;
    top : 30%;
    left : 46%;
    font-family: Josefin Sans, sans-serif;

}

.pro
{
    text-decoration: underline;
}

.top
{
    background-color: #E4F9F5;
    margin : 0px;
    height : 500px;
    position: relative;
}

.middle
{
    background-color: blue;
    height: 200px;
    width: 200px;
    /* margin-bottom:10px; */
}

.bottom
{
    background-color: brown;
    height: 200px;
    width: 200px;
}


.c1
{
  
    position: absolute;
    left :60%;
    top : 10%;
   
}

.c2
{
  
    position: absolute;
    top : 45%;
    left :30%;
}
.c3
{
    position : absolute;
    right : 10%;
    bottom : 20%;


}

.c4
{
    position: absolute;
    left : 10%;

}

.c5
{
    position: absolute;
    left : 5%;
    bottom : 10%;
}

.mountain
{
    position: absolute;
    bottom : 0px;
    left : 30%;
    width : 40%;
    height: 65%;
   
  
}